<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
    .ggg {
      color: lawngreen
    }
  </style>
  <title>Hello, Pony!</title>
</head>

<body class="bg-dark text-white">

<div class="container h-100 justify-content-center align-items-center">
  <div class="row">
    <div class="col border border-success">
      <img src="https://www.ponychan.net/chat/src/1510799660270.png" alt="img..." class="img-fluid rounded-circle">
    </div>
    <div class="col border border-success">
      <H4 class="ggg"> <%= session[:name] %> - angry pony</H4>
      <h4 class="ggg">Status: <%= 'ALIVE' %> </h4>

      <table class="table table-sm table-striped ggg">
        <thead>
        <tr>
          <th><h4 class="ggg">Parameters: </h4></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Health</td>
          <td><%= @health %></td>
        </tr>
        <tr>
          <td>Hunger</td>
          <td><%= @hanger %></td>
        </tr>
        <tr>
          <td>Joy</td>
          <td><%= @joy %></td>
        </tr>
        <tr>
          <td>Purity</td>
          <td><%= @purity %></td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <form>
          <button type="submit" class="btn btn-success" value="<%= @rand %>" name="care">Care</button>
          <button type="submit" class="btn btn-success" value="<%= @rand %>" name="feed">Feed</button>
          <button type="submit" class="btn btn-success" value="<%= @rand %>" name="play">Play</button>
          <button type="submit" class="btn btn-success" value="<%= @rand %>" name="clear">Clear</button>
        </form>
          <P></P>
        <form action="/dead" method="post">
          <button type="submit" class="btn btn-danger" value="kill" name="kill">Kill</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

